@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

:root {
  /* Typography */
  --family: "Montserrat", sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-bg: 20px;
  --fs-logo: 30px;
  --fw-light: 300;
  --fw-middle: 500;
  --fw-normal: 600;

  /* Other */
  --radii: 0.5rem;

  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-bg-cart: #eaeaea;
  --colors-ui-base: hsl(0, 0%, 100%);
  /* --colors-btn: #005bff; */
  /* --colors-btn: #89e69ad3; */
  /* --colors-btn: #ec00f7c7; Фиалет */
  --colors-btn: #27b119;
  --colors-line: linear-gradient(to left, #962d50 7%, #603a46, #3e383a 80%);
  --colors-line-new: linear-gradient(
    to right top,
    #ffc600 31%,
    #27b219,
    #27b219 88%
  );
  --colors-btn-border: 0000001b;
  --colors-btn-hover: #27b11973;

  /* whiht */
  --width-mx: 1240px;
  --width-mx-project: 1240px;

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow-upload: rgba(176, 130, 228, 0.2) 0px 8px 24px;
}

body {
  font-family: var(--family);
  background: var(--colors-text);

  color: var(--colors-ui-base);
  margin: 0;
  padding: 0;
}

b {
  color: gray;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
