@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  border-radius: 20px;
}

:root {
  /* Typography */
  --family: "Montserrat", sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-bg: 20px;
  --fs-logo: 30px;
  --fw-light: 300;
  --fw-middle: 500;
  --fw-normal: 600;

  /* Other */
  --radii: 0.5rem;

  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-bg-cart: #eaeaea;
  --colors-ui-base: hsl(0, 0%, 100%);
  --colors-btn: #005bff;
  --colors-btn-border: 0000001b;
  --colors-btn-hover: #27b11973;

  /* whiht */
  --width-mx: 1240px;

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  font-family: var(--family);
}
